@model IEnumerable<PmsEteck.ViewModels.EnergySupplierIndexViewModel>

@{
    ViewBag.Title = "Alle energieleveranciers";
}

<ol class="breadcrumb">
    <li class="active">@ViewBag.Title</li>
</ol>

<h2 class="page-header">@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "EnergySuppliers", FormMethod.Get, new { data_pmseteck_ajax = "true", data_pmseteck_target = "#energySuppliersList", @class = "form-inline" }))
{
    <div class="form-group">
        @if (User.IsInRole("EnergySuppliersCreator"))
        {
            <a href="@Url.Action("Create")" class="btn btn-primary">
                <span class="fa fa-plus"></span>
                Nieuwe energieleverancier
            </a>
        }
    </div>
    <div class="form-group pull-right">
        <div class="input-group">
            @Html.TextBox("searchValue", null, null, new { placeholder = "Zoeken...", @class = "form-control", autofocus = "autofocus" })
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
}

@await Html.PartialAsync("_EnergySupplierList", Model)

