
@using Microsoft.AspNetCore.Identity
@using PmsEteck.Data.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.Identity.IsAuthenticated)
{
<form asp-action="LogOff" asp-controller="Account" method="post" id="logoutForm" asp-antiforgery="true">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-user"></span>
                @UserManager.GetUserAsync(User).Result.FullName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a asp-action="Index" asp-controller="Manage"><span class="fa fa-fw fa-user-o"></span> Mijn profiel</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-sign-out"></i> Uitloggen</a></li>
            </ul>
        </li>

    </ul>
</form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-action="Login" asp-controller="Account" id="loginLink">Inloggen</a>
    </ul>
}
