@model Index
@{
    ViewBag.Title = "Mijn profiel";
}

<h2 class="page-header">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>


<div class="row">
    <div class="col-sm-6 col-md-4">
        @await Html.PartialAsync("_UserProfile")
    </div>
</div>