@model WebApp.ViewModels.SetPasswordViewModel
@{
    ViewBag.Title = "Wachtwoord instellen";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Project Management Systeem</h2>
<h4>@ViewBag.Title</h4>

<form method="post" asp-action="SetPassword" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="userId" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NewPassword" class="sr-only"></label>
        <input type="password" asp-for="NewPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.NewPassword)" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="sr-only"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.ConfirmPassword)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Wachtwoord instellen</button>
    </div>
</form>