body {
  padding-top: 70px;
  padding-bottom: 50px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.backgroundpage {
  background: url("../Images/Background-1200.jpeg") no-repeat center center fixed;
  -webkkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

@media (min-width: 992px) {
  .map > .dl-horizontal > dt {
    width: 240px; }
  .map > .dl-horizontal > dd {
    margin-left: 260px; } }

.modal.left .modal-dialog, .modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 60%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0); }

.modal.left .modal-content, .modal.right .modal-content {
  height: 100%;
  overflow-y: auto; }

.modal.left .modal-body, .modal.right .modal-body {
  padding: 15px 15px 80px; }

.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out; }

.modal.left.fade.in .modal-dialog {
  left: 0; }

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out; }

.modal.right.fade.in .modal-dialog {
  right: 0; }

/*Left*/
/*Right*/
/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none; }

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA; }

.panel > .bookmark {
  margin: -6px 15px -50px 0px;
  float: right;
  position: relative;
  z-index: 1; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

/*.btn-file {
    position: relative;
    overflow: hidden;
    input [type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity = 0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    }
}*/
/*.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #eef1f5;
    border-right: 1px solid #ccd8e8;
}

.main {
    padding-left: -15px;
}

.footer-new {
    background: none repeat scroll 0 0 #eff3f8;
    border-top: 1px solid #ccd8e8;
    bottom: 0;
    margin-top: 100px;
    padding: 15px 15px;
    position: fixed;
    height: 50px;
    z-index: 1030;
    display: block;
}
.nav-sidebar {
    margin: 0 -20px 20px -20px;
}

.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-sidebar > .active > a {
    color: #697882;
    background-color: #ccd8e8;
}*/
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0; }

.ibox-content {
  clear: both;
  background-color: #fff;
  color: inherit; }

.product-box {
  padding: 0;
  border: 1px solid #eff3f8; }
  .product-box:hover {
    -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
    -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
    box-shadow: 0 3px 7px 0 #a8a8a8; }

.product-desc {
  padding: 20px;
  position: relative; }

.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #697882;
  display: block;
  margin: 2px 0 5px 0; }

.panel-body .form-group:last-child {
  margin-bottom: 0; }

.my-group .form-control {
  width: 50%; }

.label + .label {
  margin-left: 5px; }

.signature-pad > canvas {
  display: block;
  width: 300px;
  height: 150px;
  margin-bottom: 5px; }
