@{
    ViewBag.Title = "Bevestiging email verstuurd";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<hgroup class="title">
    <h2>Project Management Systeem</h2>
    <h4>@ViewBag.Title</h4>
</hgroup>
<div>
    <p>
        Controleer je email om je wachtwoord opnieuw in te stellen.
    </p>
</div>
