@{
    ViewBag.Title = "Bevestiging wachtwoord herstellen";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<hgroup class="title">
    <h2>Project Management Systeem</h2>
    <h4>@ViewBag.Title</h4>
</hgroup>
<div>
    <p>
        Je wachtwoord is hersteld. @Html.ActionLink("Klik hier om in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
