@model WebApp.ViewModels.AccountViewModels.VerifyCodeViewModel
@{
    ViewBag.Title = "Verifieer code";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-6 col-md-offset-3 col-md-4">
        <h2>Project Management Systeem</h2>
        <form asp-action="VerifyCode" asp-controller="Account" asp-antiforgery="true" method="post" asp-route-return="@Model.ReturnUrl">
            {
            <h4>@ViewBag.Title</h4>
            <hr />
            <input type="hidden" asp-for="Provider" />
            <input  type="hidden" asp-for="RememberMe" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="sr-only"></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-fw fa-unlock-alt"></i>
                    </div>
                    <input type="text" asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.RememberBrowser) @Html.DisplayNameFor(m => m.RememberBrowser)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">Controleren</button>
            </div>
        </form>
    </div>
</div>
